*, *::before, *::after{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

.section-bottom-margin{
    margin-bottom: 60px;
}

.section-title{
    font-family: serif;
    color: #002633;
    font-size: 50px !important;
    line-height: 1.4;
    text-align: center;
}

.section-title-underline{
    height: 1px;
    width: 30vw;
    background-color: red;
    margin-bottom: 40px;
}

.btn{
    border-radius: 0;
}

/* NAVBAR */
.navbar{
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
}
.navbar a{
    margin: 0px;
}

img.logo-light{
    max-width: 300px;
    display: none;
}

img.logo-dark{
    max-width: 300px;
}

.navbar-toggler{
    border: none;
}

.menu-item{
    width: 80vw;
    font-size: 1.3em;
    padding: 0.9em 1em;
    border-top: 1px solid lightgray;
}

.menu-item a{
    text-align: center;
}

/* ABOUT US */
.about-us div.row div.col-sm-4 h3{
    color: red;
    text-align: right;
}


/* CAROUSEL */
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block;
    height: 65vh;
}

.btn-get-started{
    height: 50px;
    width: 250px;
    border: 1px solid white;
    margin: auto;
}

.link-get-started{
    color: white;
}

.slider-button{
    border-radius: 0 !important;
}

/* CARDS */
.card{
    border-radius: 0 !important;
    margin-top: 12px;
    margin-bottom: 12px;
}

.card-body{
    height: 60vh;
}
.card-body button.btn{
    margin-top: 24px;
    margin-bottom: 24px;
}

.card-body h4{
    font: serif;
}

.card-icon{
    margin-top: 24px;
    margin-bottom: 40px;
}

/* SERVICES */
img.img-glasses {
    border: 0;
    display: block;
    height: auto;
    max-width: 100%;
    width: auto;
}

div.service-list-item{
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 40px;
    margin-left: 40px;
}

h3{
    font-size: 25px !important;
    line-height: 1.4;
}

.small-text {
    font-size: 0.85rem;
    line-height: 1.6rem;
}